body {
  background-color: #f2f0eb;
  font-family: "Charter", "Arial";
  color: #6783a8;
}

body a:link {
  color: #9cbce6;
}

h1 {
  color: #6783a8;
  font-size: 40pt;
  text-align: center;
}

h2 {
    text-align: center;
}

h2:hover {
    background-color: #6783a8;
    color: white;
}

nav a:link{
    color: #ffffff;
    background-color:#9cbce6;
}

nav {
    text-align: center;
}

nav ul li a:hover{
    background-color: #9cbce6;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline;
}

p {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    border: solid;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;
    background-color: #9cbce6;
    box-shadow: 5px 5px 5px #a09da3;
    border-radius: 30px;
}
